body{
    background: url('../img/backgroundtech.png');
    background-attachment: fixed;
    background-size: cover;
}

#logo{ 
    background: darkblue;
    color: white;
}

#menu{
    background: darkblue;
}

#menu ul li:hover{
    background: lightblue;
}

#menu a {
   
    color: white;
   
}

.post h2{  
    color: darkblue;
}

.post .date {
    color: darkcyan;
}

.button-more{
    background: darkblue;
    color: white;
}

#sidebar h4{
    color: darkblue;
    background: darkblue;
}

#sidebar h4 span{
    background: white;
}

form input[type="text"],
form input[type="password"],
form input[type="email"]{
    border: 1px solid darkblue; 
    box-shadow: 0px 0px 2px cyan;
}

form input[type="submit"]{
    background: darkblue;
    border: 1px solid cyan;
    color: white;
}

footer{   
    color: white;
    background: darkblue;
}


