body{
    background: url('../img/backgroundr.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#logo{ 
    background: red;
    color: white;
}

#menu{
    background: red;
}

#menu ul li:hover{
    background: lightcoral;
}

#menu a {
    
    color: white;
  
}

.post h2{  
    color: red;
}

.post .date {
    color: darkred;
}

.button-more{
    background: red;
    color: white;
}

#sidebar h4{
    color: red;
    background: red;
}

#sidebar h4 span{
    background: white;
}

form input[type="text"],
form input[type="password"],
form input[type="email"]{
    border: 1px solid red; 
    box-shadow: 0px 0px 2px darkred;
}

form input[type="submit"]{
    background: red;
    border: 1px solid darkred;
    color: white;
}

footer{   
    color: white;
    background: red;
}

