*{
    margin: 0px;
    padding: 0px;
}

.clearfix{
    float: none;
    clear: both;
}

#global{
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
    background: white;
    padding: 25px;
    box-shadow: 0px 0px 20px rgb(0, 204, 255);
}

#logo{
    font-family: "Verdana", "Arial";
    letter-spacing: 4px;
    text-align: center;
    width: 385px;
    height: 80px;
    margin-bottom: 20px;
    line-height: 75px;
    float: left;
    text-transform: uppercase;
}

#menu{
    font-family:  Helvetica, Arial;
    /*background: darkblue;*/
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#menu ul{
    line-height: 46px;
    list-style: none;
}

#menu ul li{
    height: 46px;
    display: inline-block;
    transition: all 300ms;
}


#menu a {
    display: block;
    /*color: white;*/
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}

#posts{
    width: 60%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

.post{
    padding: 7px; 
}

h2{
    font-size: 30px;
    /*color: darkblue;*/
}

.post .date {
    display: block; 
    margin-top: 5px;
}

.post p{
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 22px;
    text-align: justify;
}

.button-more{
    font-size: 14px;
	text-align: center;
	display: block;
	padding: 15px;
	text-decoration: none;
	margin-top: 10px;
	width: 70px;
	margin-bottom: 20px;
}

#sidebar{
    font-family: Arial, Helvetica, sans-serif;
    width: 31%;
    float: right;
}

#sidebar h4{
    margin-bottom: 30px;
    text-align: center;
    line-height: 10px;
    /*color: darkblue;
    background: darkblue;*/
}

#sidebar h4 span{
    /*background: white;*/
    padding: 5px;

}

#sidebar img{
    width: 100%;
}

#sidebar p{
    font-size: 15px;
    text-align: justify;
}

#login{
    margin-top: 30px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="number"], select{
    padding: 5px;
    border-radius: 2px;
    width: 80%;
    margin-bottom: 10px;
    /*box-shadow: 0px 0px 2px cyan;
    border: 1px solid darkblue;*/
    margin-top: 10px;
}

form input[type="submit"]{
    /*background: darkblue;
    border: 1px solid cyan;
    color: white; */
    padding: 15px;
    cursor: pointer;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    height: 47px;
    /*color: white;
    background: darkblue;*/
    opacity: 0.70;
    margin: 0px auto;
    width: 65%;
    padding: 20px;
    margin-top: 50px;
    line-height: 47px;   
}

.bx-wrapper, .bx-viewport{
    height: 250px !important;
   
}

#selector-theme{
    position: fixed;
    top: 40%;
    background: darkblue;
    width: 50px;
    height: 100px;
    opacity: 0.20;
}

#blue, #red, #yellow{
    width: 25px;
    height: 25px;
    border: 1px solid white;
    display: block;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#blue{
    background: darkblue;
}

#red{
    background: red;
}

#yellow{
    background: yellow;
}

.subir{
    color: white;
    text-decoration: none;
    display: block;
    float: right;
}

#box{
    width: 60%;
    float: left;
    margin-top: 40px;
}

#acordeon{
    margin-top: 20px;
}

#reloj{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    border: 5px dashed darkblue;
    width: 30%;
    padding: 30px;
    margin: 0px auto;

}

#formcontact{
    width: 50%;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#formcontact label{
    display: block;
    width: 100%;
    margin: 5px;
}

.form-error{
    /*float: right;*/
    font-size: 11px;
    background: red;
    color: white;
    padding: 10px;
    width: 100%;
}