body{
    background: url('../img/backgroundy.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#logo{ 
    background: yellow;
    color: black;
}

#menu{
    background: yellow;
}

#menu ul li:hover{
    background: yellowgreen;
}

#menu a {
    
    color: black;
   
}

.post h2{  
    color: yellowgreen;
}

.post .date {
    color: yellowgreen;
}

.button-more{
    background: yellow;
    color: black;
}

#sidebar h4{
    color: yellowgreen;
    background: yellow;
}

#sidebar h4 span{
    background: white;
}

form input[type="text"],
form input[type="password"],
form input[type="email"]{
    border: 1px solid yellow; 
    box-shadow: 0px 0px 2px darkgoldenrod;
}

form input[type="submit"]{
    background: yellow;
    border: 1px solid darkgoldenrod;
    color: black;
}

footer{   
    color: black;
    background: yellow;
}
