*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.clearfix{
    float: none;
    clear: both;
}

body{
    background: url('../img/backgroundtech.png');
    background-attachment: fixed;
    background-size: cover;
}

#global{
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
    background: white;
    padding: 25px;
    box-shadow: 0px 0px 20px rgb(0, 204, 255);
}

#logo{
    font-family: "Verdana", "Arial";
    letter-spacing: 4px;
    background: darkblue;
    color: white;
    text-align: center;
    width: 385px;
    height: 80px;
    margin-bottom: 20px;
    line-height: 75px;
    float: left;
    text-transform: uppercase;
}

#menu{
    font-family:  Helvetica, Arial;
    background: darkblue;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#menu ul{
    line-height: 46px;
    list-style: none;
}

#menu ul li{
    height: 46px;
    display: inline-block;
    transition: all 300ms;
}

#menu ul li:hover{
    background: lightblue;
}

#menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}

#posts{
    width: 60%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

.post{
    padding-left: 10px; 
}

.post h2{
    font-size: 30px;
    color: darkblue;
}

.post .date {
    display: block; 
    color: darkcyan;
    margin-top: 5px;
}

.post p{
    margin-top: 12px;
    margin-bottom: 20;
    line-height: 22px;
    text-align: justify;
}

.button-more{
    padding: 15px;
    background: darkblue;
    color: white;
    text-decoration: none;
    margin-top: 10x;
    display: block;
    width: 10%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
}

#sidebar{
    font-family: Arial, Helvetica, sans-serif;
    width: 31%;
    float: right;

    
}

#sidebar h4{
    margin-bottom: 30px;
    text-align: center;
    line-height: 10px;
    color: darkblue;
    background: darkblue;
}

#sidebar h4 span{
    background: white;
    padding: 5px;
}

#sidebar img{
    width: 100%;
}

#sidebar p{
    font-size: 15px;
    text-align: justify;
}

form input[type="text"],
form input[type="password"],
form input[type="email"]{
    padding: 5px;
    border-radius: 2px;
    border: 1px solid darkblue;
    width: 80%;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px cyan;
    margin-top: 10px;
}

form input[type="submit"]{
    background: darkblue;
    padding: 15px;
    border: 1px solid cyan;
    color: white;
    cursor: pointer;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 47px;
    background: darkblue;
    opacity: 0.70;
    margin: 0px auto;
    width: 65%;
    padding: 20px;
    margin-top: 50px;
    line-height: 47px;   
}


